.containerTelaInicial{
    width: 100%;
    height: auto;
    padding: 2% 3% 0% 3%;
    background: linear-gradient(to bottom, #2B6A86, #02447D);
    display: flex;
    flex-wrap: wrap;
}

.caixa1{
    max-width: 100%;
    height: 100%;
    padding: 0% 1%;
    color: #fff;
    flex: 1;
}

.caixa1 h1{
    font-size: clamp(1rem, 3vw, 3rem);
    margin-top: 7%;
}

.botao{
    width: clamp(20%, 50% ,60%);
    padding: 2% 1%;
    background-color: #3EA8A1;
    border-radius: 10px;
    margin: 7% 0;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    transition: 2s all;
}

.botao h3{
    font-size: clamp(0.5rem, 2vw,1rem);
}

.caixa2{
    max-width: 100%;
    flex: 1;
}

/* EFEITOS */
.botao:hover{
    background-color: #31847e;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 2s all;
}

/* Mobile */
@media (max-width: 480px) {
    .containerTelaInicial{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .caixa1{
        width: 90%;
    }
}